body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

p {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* main bar for home page  */
.top-bar {
    background-color: black;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    margin-top: 60px;
    text-align: center;
}

.header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}

/* container for button  */
.buttonContainer {
    display: flex;
    gap: 50px;
}

.buttonHome {
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: #0f6b3f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.buttonHome:hover {
    background-color: #19ad66;
}

.buttonLogout {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: #0f6b3f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.buttonLogout:hover {
    background-color: #19ad66;
}

/* signup button style  */
.buttonSignup {
    width: 300px;
    height: 40px;
    padding: 10px;
    background-color: #0f6b3f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.buttonSignup:hover {
    background-color: #19ad66;
}

/* cancel button style  */
.butonCancelSignup {
    margin: 10px 0;
    width: 300px;
    height: 40px;
    padding: 10px;
    background-color: #b30000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.butonCancelSignup:hover {
    background-color: #e20000;
}

.button-container {
    margin-top: 20px;
}

.account-button:hover {
    background-color: darkgreen;
}

.account-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.logout-btn {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
}

.logout-btn:hover {
    background-color: grey;
    color: white;
}

.logo {
    max-width: 250%;
    height: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    margin-bottom: 100px;
}

/* styling for contact add container  */
.form-containerAdd {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 66%;
    max-width: 1000px;
    margin: 50px auto;
    box-sizing: border-box;
}

/* styling to make the form horizontal  */
.horizontal-form {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.horizontal-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.horizontal-form input[type="text"] {
    width: 180px;
    padding: 8px;
    box-sizing: border-box;
}

.horizontal-form button {
    padding: 10px 20px;
    background-color: #0f6b3f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.horizontal-form button:hover {
    background-color: #19ad66;
}

.buttonCancel {
    padding: 10px 20px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonCancel:hover {
    background-color: #e20000;
}


/* login form container styling  */
.form-containerLogin {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 300px;
}

/* signup form container styling  */
.form-containerSignup {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 350px;
}

.headerImg {
    width: 70%;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.accounthead {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.loginImage {
    max-width: 80%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.toggle-password:focus {
    outline: none;
}

.contact-list {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.contact-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contact-item:last-child {
    border-bottom: none;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 10;
    width: 400px;
    box-sizing: border-box;
}

.popup-content {
    margin-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ec0c0c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #860b0b;
}

/* styling for contact table  */
.containerTable {
    width: 66%;
    max-width: 1000px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#contacts-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#contacts-table th,
#contacts-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#contacts-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

#contacts-table td {
    vertical-align: middle;
}

#contacts-table tr:hover {
    background-color: #f9f9f9;
}

#contacts-table td,
#contacts-table th {
    width: auto;
    white-space: nowrap;
}

.edit-btn {
    padding: 8px 12px;
    background-color: #0f6b3f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

.edit-btn:hover {
    background-color: #19ad66;
}

.delete-btn {
    padding: 8px 12px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

.delete-btn:hover {
    background-color: #e20000;
}

.save-btn {
    padding: 8px 12px;
    background-color: #0f6b3f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

.save-btn:hover {
    background-color: #19ad66;
}

.cancel-btn {
    padding: 8px 12px;
    background-color: #b3b3b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

.cancel-btn:hover {
    background-color: #d4d4d4;
}

.hidden {
    display: none;
}

.font-bold {
    font-weight: bold;
}

#loginResult {
    margin-top: 10px;
    color: red;
}

#contactAddResult {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#contactEditResult {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#contactDeleteResult {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

html,
body {
    overflow-x: hidden;
    background-image: url("../images/indexbgd.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 100vh; 
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}